@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
.dark-mode-main {
    background: linear-gradient(180deg, rgba(94.62, 50.26, 255, 0.90) 2%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dark-mode-main .overlap-wrapper {
   background: linear-gradient(180deg, rgba(94.62, 50.26, 255, 0.90) 2%, rgba(255, 255, 255, 0) 100%);
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  width: 1440px;
  height: 1024px;
}

.dark-mode-main .overlap {
  position: relative;
  height: 1473px;
}

.dark-mode-main .rectangle {
  position: absolute;
  width: 1440px;
  height: 1024px;
  top: 0;
  left: 0;
}

.dark-mode-main .ellipse {
  position: absolute;
  width: 791px;
  height: 743px;
  top: 730px;
  left: 335px;
  border-radius: 395.5px/371.5px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  filter: blur(177.3px);
  background: linear-gradient(180deg, rgba(95, 50, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%);
}

.dark-mode-main .frame {
  position: absolute;
  width: 1440px;
  height: 82px;
  top: 0;
  left: 0;
  background-color: #111010;
}

.dark-mode-main .group {
  position: absolute;
  width: 464px;
  height: 38px;
  top: 22px;
  left: 99px;
}

.dark-mode-main .overlap-group {
  position: relative;
  width: 462px;
  height: 38px;
  background-color: #0f0f0f;
  border-radius: 15.9px;
  border: 0.56px solid;
  border-color: #818181;
}

.dark-mode-main .text-wrapper {
  position: absolute;
  top: 11px;
  left: 32px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #818181;
  font-size: 13.3px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .search {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 13px;
  left: 12px;
  background-image: url(./img/vector-4.svg);
  background-size: 100% 100%;
}

.dark-mode-main .img {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 22px;
  left: 1304px;
  object-fit: cover;
}

.dark-mode-main .div {
  position: absolute;
  width: 40px;
  height: 39px;
  top: 22px;
  left: 840px;
}

.dark-mode-main .text-wrapper-2 {
  position: absolute;
  top: 24px;
  left: 0;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #2e00d2;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .home {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 7px;
  background-image: url(./img/home.svg);
  background-size: 100% 100%;
}

.dark-mode-main .group-2 {
  position: absolute;
  width: 56px;
  height: 39px;
  top: 22px;
  left: 938px;
}

.dark-mode-main .text-wrapper-3 {
  position: absolute;
  top: 24px;
  left: 0;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .network {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 15px;
  background-image: url(./img/network.svg);
  background-size: 100% 100%;
}

.dark-mode-main .group-3 {
  position: absolute;
  width: 69px;
  height: 39px;
  top: 22px;
  left: 1052px;
}

.dark-mode-main .message {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 21px;
  background-image: url(./img/message.svg);
  background-size: 100% 100%;
}

.dark-mode-main .group-4 {
  position: absolute;
  width: 81px;
  height: 39px;
  top: 22px;
  left: 1179px;
}

.dark-mode-main .notification {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 28px;
  background-image: url(./img/notification.svg);
  background-size: 100% 100%;
}

.dark-mode-main .frame-2 {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 20px;
  position: absolute;
  top: 170px;
  left: 80px;
}

.dark-mode-main .ellipse-wrapper {
  position: relative;
  width: 85px;
  height: 85px;
  background-color: #ffffff;
  border-radius: 100px;
  overflow: hidden;
}

.dark-mode-main .ellipse-2 {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.dark-mode-main .frame-3 {
  display: flex;
  flex-direction: column;
  width: 317px;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.dark-mode-main .text-wrapper-4 {
  position: relative;
  width: 510px;
  margin-top: -0.96px;
  margin-right: -193px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #767676;
  font-size: 25.7px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .text-wrapper-5 {
  position: relative;
  width: 510px;
  margin-right: -193px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 38.6px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .frame-4 {
  position: absolute;
  width: 413px;
  height: 574px;
  top: 419px;
  left: 80px;
  background-color: #111010;
  border-radius: 18px;
  overflow: hidden;
}

.dark-mode-main .text-wrapper-6 {
  position: absolute;
  width: 220px;
  top: 16px;
  left: 16px;
  font-family: "Space Grotesk-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .maps-zoom-levels-wrapper {
  position: absolute;
  width: 395px;
  height: 346px;
  top: 65px;
  left: 9px;
  background-color: #c4c4c4;
  border-radius: 9px;
  overflow: hidden;
}

.dark-mode-main .maps-zoom-levels {
  position: relative;
  width: 431px;
  height: 431px;
  top: -32px;
  left: -17px;
  background-color: #ffffff;
}

.dark-mode-main .overlap-2 {
  position: relative;
  width: 395px;
  height: 346px;
  top: 32px;
  left: 17px;
  background-image: url(./img/map-of-birmingham-county.png);
  background-size: cover;
  background-position: 50% 50%;
}

.dark-mode-main .markers-spotlight {
  position: absolute;
  width: 27px;
  height: 43px;
  top: 66px;
  left: 47px;
}

.dark-mode-main .overlap-group-2 {
  position: relative;
  width: 25px;
  height: 41px;
  top: 1px;
  left: 1px;
}

.dark-mode-main .ellipse-3 {
  position: absolute;
  width: 9px;
  height: 5px;
  top: 36px;
  left: 8px;
  background-color: #0000001a;
  border-radius: 4.5px/2.5px;
  filter: blur(1px);
}

.dark-mode-main .union {
  position: absolute;
  width: 25px;
  height: 38px;
  top: 0;
  left: 0;
}

.dark-mode-main .ellipse-4 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 8px;
  left: 8px;
  background-color: #00000066;
  border-radius: 4.5px;
}

.dark-mode-main .overlap-group-wrapper {
  position: absolute;
  width: 27px;
  height: 43px;
  top: 257px;
  left: 105px;
}

.dark-mode-main .group-wrapper {
  position: absolute;
  width: 395px;
  height: 68px;
  top: 420px;
  left: 9px;
  background-color: #0d0d0d;
  border-radius: 9px;
  border: 0.5px solid;
  border-color: #484848;
  box-shadow: 0px 2px 25.8px -3px #27272740;
}

.dark-mode-main .group-5 {
  position: relative;
  width: 369px;
  height: 50px;
  top: 8px;
  left: 16px;
}

.dark-mode-main .text-wrapper-7 {
  position: absolute;
  width: 32px;
  top: 37px;
  left: 0;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(97deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.45) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 26px;
  text-align: center;
  letter-spacing: -1.56px;
  line-height: normal;
}

.dark-mode-main .div-wrapper {
  position: absolute;
  width: 70px;
  height: 24px;
  top: 13px;
  left: 294px;
  background-color: #121212;
  border-radius: 18.4px;
  border: none;
}

.dark-mode-main .div-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 0.69px;
  border-radius: 18.4px;
  background: radial-gradient(50% 50% at 104% 63%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.dark-mode-main .text-wrapper-9 {
  position: absolute;
  width: 29px;
  top: 4px;
  left: 21px;
  font-family: "Calibri-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .group-6 {
  position: absolute;
  width: 33px;
  height: 13px;
  top: 37px;
  left: 52px;
}

.dark-mode-main .text-wrapper-10 {
  position: absolute;
  width: 15px;
  top: 0;
  left: 16px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .img-2 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
}

.dark-mode-main .group-7 {
  position: absolute;
  width: 61px;
  height: 13px;
  top: 37px;
  left: 102px;
}

.dark-mode-main .text-wrapper-11 {
  position: absolute;
  width: 43px;
  top: 0;
  left: 16px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #622acc;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .group-8 {
  position: absolute;
  width: 395px;
  height: 68px;
  top: 497px;
  left: 9px;
  background-color: #0d0d0d;
  border-radius: 9px;
  border: 0.5px solid;
  border-color: #484848;
  box-shadow: 0px 2px 25.8px -3px #27272740;
}

.dark-mode-main .vector {
  height: 19px;
  top: 22px;
  left: 376px;
  position: absolute;
  width: 23px;
}

.dark-mode-main .frame-5 {
  position: absolute;
  width: 413px;
  height: 114px;
  top: 285px;
  left: 80px;
  background-color: #111010;
  border-radius: 18px;
  overflow: hidden;
}

.dark-mode-main .ellipse-5 {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 15px;
  left: 15px;
  object-fit: cover;
}

.dark-mode-main .overlap-3 {
  position: absolute;
  width: 324px;
  height: 47px;
  top: 15px;
  left: 74px;
  border-radius: 24px;
  border: 1px solid;
  border-color: #818181;
}

.dark-mode-main .text-wrapper-12 {
  position: absolute;
  top: 12px;
  left: 23px;
  font-family: "Calibri-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .group-9 {
  position: absolute;
  width: 60px;
  height: 19px;
  top: 80px;
  left: 82px;
}

.dark-mode-main .text-wrapper-13 {
  position: absolute;
  top: 1px;
  left: 24px;
  font-family: "Calibri-Regular", Helvetica;
  font-weight: 400;
  color: #818181;
  font-size: 14.3px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dark-mode-main .img-3 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
}

.dark-mode-main .group-10 {
  position: absolute;
  width: 61px;
  height: 19px;
  top: 80px;
  left: 176px;
}

.dark-mode-main .group-11 {
  position: absolute;
  width: 61px;
  height: 19px;
  top: 80px;
  left: 271px;
}

.dark-mode-main .group-12 {
  position: absolute;
  width: 530px;
  height: 540px;
  top: 251px;
  left: 513px;
}

.dark-mode-main .overlap-4 {
  position: relative;
  width: 522px;
  height: 540px;
  background-color: #111111;
  border-radius: 16px;
}

.dark-mode-main .group-13 {
  position: absolute;
  width: 323px;
  height: 24px;
  top: 503px;
  left: 16px;
}

.dark-mode-main .feed-buttons-variant {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.dark-mode-main .like-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.dark-mode-main .like {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/like.svg);
  background-size: 100% 100%;
}

.dark-mode-main .text-wrapper-14 {
  position: relative;
  width: fit-content;
  font-family: var(--calibri-regular-14px-font-family);
  font-weight: var(--calibri-regular-14px-font-weight);
  color: #ffffffcc;
  font-size: var(--calibri-regular-14px-font-size);
  letter-spacing: var(--calibri-regular-14px-letter-spacing);
  line-height: var(--calibri-regular-14px-line-height);
  font-style: var(--calibri-regular-14px-font-style);
}

.dark-mode-main .comment-button-wrapper {
  all: unset;
  box-sizing: border-box;
  left: 76px;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
}

.dark-mode-main .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.dark-mode-main .comment {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/comment.svg);
  background-size: 100% 100%;
}

.dark-mode-main .share-button-wrapper {
  left: 178px;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
}

.dark-mode-main .share-button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.dark-mode-main .share {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/share.svg);
  background-size: 100% 100%;
}

.dark-mode-main .send-button-wrapper {
  all: unset;
  box-sizing: border-box;
  left: 262px;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
}

.dark-mode-main .send {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/send.svg);
  background-size: 100% 100%;
}

.dark-mode-main .feed-image {
  position: absolute;
  width: 522px;
  height: 300px;
  top: 187px;
  left: 0;
  object-fit: cover;
}

.dark-mode-main .kitlesel-kaynak {
  position: absolute;
  width: 448px;
  top: 121px;
  left: 24px;
  font-family: "Calibri-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffe6;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .ellipse-6 {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 24px;
  left: 24px;
  object-fit: cover;
}

.dark-mode-main .overlap-group-3 {
  position: absolute;
  width: 102px;
  height: 51px;
  top: 28px;
  left: 88px;
}

.dark-mode-main .name {
  position: absolute;
  height: 23px;
  top: 0;
  left: 0;
  font-family: "Calibri-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffe6;
  font-size: 18.5px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .followers {
  position: absolute;
  height: 17px;
  top: 20px;
  left: 0;
  font-family: "Calibri-Regular", Helvetica;
  font-weight: 400;
  color: #94949499;
  font-size: 14.1px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .text-wrapper-15 {
  position: absolute;
  height: 17px;
  top: 34px;
  left: 0;
  font-family: "Calibri-Light", Helvetica;
  font-weight: 300;
  color: #94949499;
  font-size: 14.1px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .vector-2 {
  position: absolute;
  width: 30px;
  height: 6px;
  top: 44px;
  left: 466px;
}

.dark-mode-main .group-14 {
  position: absolute;
  width: 530px;
  height: 540px;
  top: 811px;
  left: 513px;
}

.dark-mode-main .like-2 {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -331px;
  margin-left: -2521px;
  background-image: url(./img/like.png);
  background-size: 100% 100%;
}

.dark-mode-main .comment-2 {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -331px;
  margin-left: -2597px;
  background-image: url(./img/comment.png);
  background-size: 100% 100%;
}

.dark-mode-main .share-2 {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -331px;
  margin-left: -2699px;
  background-image: url(./img/share.png);
  background-size: 100% 100%;
}

.dark-mode-main .send-2 {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -331px;
  margin-left: -2783px;
  background-image: url(./img/send.png);
  background-size: 100% 100%;
}

.dark-mode-main .feed-image-2 {
  position: absolute;
  width: 522px;
  height: 26px;
  top: 187px;
  left: 0;
  object-fit: cover;
}

.dark-mode-main .frame-6 {
  position: absolute;
  width: 305px;
  height: 608px;
  top: 241px;
  left: 1055px;
}

.dark-mode-main .group-15 {
  position: absolute;
  width: 253px;
  height: 57px;
  top: 916px;
  left: 1109px;
}

.dark-mode-main .overlap-5 {
  position: relative;
  width: 251px;
  height: 57px;
  background-color: #0f0f0f;
  border-radius: 34.84px;
}

.dark-mode-main .text-wrapper-16 {
  position: absolute;
  top: 20px;
  left: 48px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dark-mode-main .overlap-group-4 {
  position: absolute;
  width: 71px;
  height: 25px;
  top: 16px;
  left: 164px;
}

.dark-mode-main .ellipse-7 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 46px;
  background-color: #d9d9d9;
  border-radius: 12.5px;
}

.dark-mode-main .ellipse-8 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 23px;
}

.dark-mode-main .ellipse-9 {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
}

.dark-mode-main .image {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 46px;
  object-fit: cover;
}

.dark-mode-main .image-2 {
  left: 23px;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  object-fit: cover;
}

.dark-mode-main .image-3 {
  left: 0;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  object-fit: cover;
}

.dark-mode-main .vector-3 {
  height: 23px;
  top: 17px;
  left: 18px;
  position: absolute;
  width: 23px;
}

.dark-mode-main .rectangle-2 {
  position: absolute;
  width: 305px;
  height: 61px;
  top: 170px;
  left: 1055px;
  background-color: #111111;
  border-radius: 18px;
}

.dark-mode-main .text-wrapper-17 {
  position: absolute;
  top: 189px;
  left: 1069px;
  font-family: "Calibri-Regular", Helvetica;
  font-weight: 400;
  color: #f8f8f8cc;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.dark-mode-main .group-16 {
  position: absolute;
  width: 45px;
  height: 46px;
  top: 178px;
  left: 1309px;
}

.dark-mode-main .vector-wrapper {
  position: relative;
  width: 48px;
  height: 49px;
  top: -1px;
  left: -1px;
  background-color: #0d0d0d;
  border-radius: 25px;
  border: none;
}

.dark-mode-main .vector-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.34px;
  border-radius: 25px;
  background: radial-gradient(50% 50% at 104% 63%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.dark-mode-main .vector-4 {
  height: 19px;
  top: 14px;
  left: 11px;
  position: absolute;
  width: 23px;
}

.dark-mode-main .img-wrapper {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 171px;
  left: 513px;
  background-color: #ffffff;
  border-radius: 73.1px;
  overflow: hidden;
}

.dark-mode-main .ellipse-10 {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.dark-mode-main .frame-7 {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 171px;
  left: 604px;
  background-color: #ffffff;
  border-radius: 73.1px;
  overflow: hidden;
}

.dark-mode-main .frame-8 {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 171px;
  left: 698px;
  background-color: #ffffff;
  border-radius: 73.1px;
  overflow: hidden;
}

.dark-mode-main .frame-9 {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 171px;
  left: 790px;
  background-color: #ffffff;
  border-radius: 73.1px;
  overflow: hidden;
}

.dark-mode-main .frame-10 {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 171px;
  left: 882px;
  background-color: #ffffff;
  border-radius: 73.1px;
  overflow: hidden;
}

.dark-mode-main .frame-11 {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 171px;
  left: 974px;
  border-radius: 73.1px;
  overflow: hidden;
  background: linear-gradient(89deg, rgba(255, 255, 255, 1) 0%, rgba(153, 153, 153, 0) 100%);
}
